


/* General */



* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #0b0a0a;
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4";
    grid-template-rows: 200px 600px 300px 200px;
}


/* Navbar */



header {
    display: flex;
    justify-content: space-between;
}

.logga {
    width: 15vh;
    height: 15vh;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a{
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
}

.logga {
    width: 15rem;
    height: 15rem;
}

.navbar-item {
    margin: 0 10px;
}

div ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}



/* Section 1 */



#sec1 {
    grid-area: s1;
    border: 1px solid #fff;
    margin: 20px;

    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 5px 1px 2px rgb(16, 13, 13);

    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-image: url(../img/KollektionSec1Header.png);
}



/* Section 2 */



#sec2 {
    grid-area: s2;
    border: 1px solid #ffffff;
    margin: 20px;

    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    padding-top: 20px;
}

#sec2 section {
    width: 50vh;
    height: 58vh;
    margin: 20px;
    border: 1px solid #52d9ff;
}

#child1 {
    background-image: url(../img/Rolex.png);
    background-position: center;
    background-size: cover;
}

#child2 {
    background-image: url(../img/klocka\ 2\ kollektion.jpg);
    background-position: center;
    background-size: cover;
}

#child3 {
    background-image: url(../img/klocka\ 3\ kollektion.png);
    background-position: center;
    background-size: cover;
}



/* Section 3 */



#sec3 {
    grid-area: s3;
    border: 1px solid #fff;
    margin: 20px;
}

span {
    color:rgb(26, 160, 244)
}

h1 {
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;

    color: #fff;
    font-weight: bolder;
    font-size: 35px;

}

p{
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;

    color: #c7c7c7;
    font-weight: bold;
    font-size: 26px;
}

h2{
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;

    color: hsl(197, 100%, 73%);
    font-weight: bold;
    font-size: 20px;
}



/* Section 4 */



#sec4 {
    grid-area: s4;    
    border: 1px solid #fff;
    margin: 20px;
    
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 5px 1px 2px rgb(16, 13, 13);
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    font-family:'Times New Roman', Times, serif;

    background-image: url(../img/Startsida-Footer.png);
    background-position: center;
    background-size: cover;
}
