


/* General - Dator */



* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #000000;
}

#sections {
    display: grid;
    grid-template-areas: 
    "s1 s1"
    "s2 s3"
    "s2 s4"
    "s5 s5";
}



/* navbar - Dator */



header {
    display: flex;
    justify-content: space-between;
}

.logga {
    width: 15vh;
    height: 15vh;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
}

.logga {
    width: 15rem;
    height: 15rem;
}

.navbar-item {
    margin: 0 10px;
}

div ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}



/* Section 1 - Dator */



#sektion1 {
    grid-area: s1;
    border: 2px solid #8e8e8e;
    height: 200px;

    background-image: url(../img/ShoppaBild3.jpg);
    background-position: center;
    background-size: cover;


    display: flex;
    justify-content: center;
    padding-top: 40px; 

    color: #fbfbfb;
    font-weight: bolder;
    font-size: 65px;
    text-shadow: 5px 1px 2px rgb(10, 8, 8);
}



/* Section 2 - Dator */



#sektion2 {
    grid-area: s2;
    border: 2px solid #8e8e8e;

    color:aqua;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;

    padding: 10px;

    margin-left: 75px;
    margin-top: 100px; 
    margin-bottom: 100px;

    height: 400px;
    width: 500px;
}



/* Section 3 - Dator */



#sektion3 {
    grid-area: s3;
    border: 2px solid #8e8e8e;

    margin-left: 75px;
    margin-top: 100px; 
    margin-bottom: 100px;
    
    height: 200px;
    width: 500px;

    background-image: url(../img/ShoppaBild1.jpg);
    background-position: center;
    background-size: cover;
}



/* Section 4 - Dator */



#sektion4 {
    grid-area: s4;
    border: 2px solid #090505;

    margin-left: 75px;
    height: 200px;
    width: 200px;

    background-image: url(../img/divine-logga.png);
    background-position: center;
    background-size: cover;

}



/* Section 5 / Footer - Dator */



#sektion5 {
    grid-area: s5;

    background-image: url(../img/Startsida-Footer.jpg);
    background-position: center;
    background-size: cover;

    height: 150px;
    width: 100%;
}



/* Media queries */



@media (max-width: 600px) {

    

    /* Navbar Mobil - Mobil */



.logga {
    width:  18vh;
    height: 18vh;
    margin-right: 45px;
 }
 
 .navbar {
     margin-top: 30px;
 }



 /* Main Content - Mobil */



 #sektion1 {
    height: 200px;
    width: 320px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    
    font-size: 25px;
 }

 #sektion2 {
    height: 200px;
    width: 320px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;

    border: none;
    
    font-size: 25px;
 }

 #sektion3 {
    display: none;
 }

 #sektion4 {
    display: none;
 }

 #sektion5{
    display: none;
 }
 
  }