


/* General - Dator */



* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #0b0a0a;
}

.container {
    height: 100vh;
    width: 100%;
}

#sections {
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "s1 s1 s2"
    "s3 s4 s2"
    "s5 s6 s7"
    "s8 s8 s8"
    "s9 s10 s11"
    "s9 s10 s11"
    "s12 s13 s14"
    "s15 s15 s15";
    
    
    width: 85%;
    height: 200vh;
    margin: 30px;
}



/* navbar - Dator */



header {
    display: flex;
    justify-content: space-between;
}

.logga {
    width: 15vh;
    height: 15vh;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
}

.logga {
    width: 15rem;
    height: 15rem;
}

.navbar-item {
    margin: 0 10px;
}

div ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}



/* Sektion 1 - Dator */



#sektion1 {
    grid-area: s1;
    border: 2px solid #fff;
    margin-left: 50px;

    background-image: url(../img/ShoppaBild1.jpg);
    background-position: center;
    background-size: cover;

    color: #130e0e;
    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(239, 237, 237);
    padding: 15px;
}



/* Sektion 2 - Dator */



#sektion2 {
    grid-area: s2;
    color: #fff;
    border: 2px solid #fff;
    margin-left: 100px;
}



/* Sektion 3 - Dator */



#sektion3 {
    grid-area: s3;
    color: #0f0e0e;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 100px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(239, 237, 237);
    padding: 15px;

    background-image: url(../img/ShoppaBild2.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 4 - Dator */



#sektion4 {
    grid-area: s4;
    color: #0b0a0a;
    border: 2px solid #fff;
    margin-top: 100px;
    margin-left: 50px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(246, 242, 242);
    padding: 15px;

    background-image: url(../img/ShoppaBild3.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 5 - Dator */



#sektion5 {
    grid-area: s5;
    color: #040303;
    border: 2px solid #fff;
    margin-top: 150px;
    margin-left: 50px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(246, 242, 242);
    padding: 15px;

    background-image: url(../img/ShoppaBild4.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 6 - Dator */



#sektion6 {
    grid-area: s6;
    color: #030202;
    border: 2px solid #fff;
    margin-top: 150px;
    margin-left: 50px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(246, 242, 242);
    padding: 15px;

    background-image: url(../img/ShoppaBild5.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 7 - Dator */



#sektion7 {
    grid-area: s7;
    color: #141010;
    border: 2px solid #fff;
    margin-top: 150px;
    margin-left: 50px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(246, 242, 242);
    padding: 15px;

    background-image: url(../img/ShoppaBild6.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 8  Dator */



#sektion8 {
    grid-area: s8;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 50px;
    margin-left: 50px;
    padding: 25px;


    font-size: 25px;
    font-weight: bolder;

    display:flex;
    justify-content: center; 
    padding-top: 20px;
    padding-left: 50px;
}

p {
    padding-right: 20px;
}



/* Sektion 9 - Dator */



#sektion9 {
    grid-area: s9;
    color: #131010;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 150px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(239, 237, 237);
    padding: 15px;

    background-image: url(../img/ShoppaBild7.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 10 - Dator */



#sektion10 {
    grid-area: s10;
    color: #0c0808;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 150px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(239, 237, 237);
    padding: 15px;

    background-image: url(../img/ShoppaBild8.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 11 - Dator */



#sektion11 {
    grid-area: s11;
    color: #0c0909;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 150px;

    font-weight: bolder;
    font-size: 35px;
    text-shadow: 5px 1px 2px rgb(239, 237, 237);
    padding: 15px;

    background-image: url(../img/Rolex.jpg);
    background-position: center;
    background-size: cover;
}



/* Sektion 12 - Dator */



#sektion12 {
    grid-area: s12;
    color: #fff;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 50px;

    padding: 25px;
    padding-top: 25px;

    font-weight: bolder;

    display: flex; 
    justify-content: center;
}

h1 {
    padding: 30px;
}

h2 {
    padding: 30px;
    padding-top: 20px;
}

span {
    color: aqua;
}



/* Sektion 13 - Dator */



#sektion13 {
    grid-area: s13;
    color: #fff;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 50px;

    padding: 25px;
    padding-top: 25px;

    font-weight: bolder;

    display: flex; 
    justify-content: center;
}



/* Sektion 14 - Dator */



#sektion14 {
    grid-area: s14;
    color: #fff;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 50px;

    padding: 25px;
    padding-top: 25px;

    font-weight: bolder;

    display: flex; 
    justify-content: center;
}



/* Section 15 / footer - Dator */



#sektion15 {
    grid-area: s15;    
    border: 1px solid #fff;
    margin: 20px;
    
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 5px 1px 2px rgb(16, 13, 13);
    display: flex;
    justify-content: center;
    position: relative;
    font-family:'Times New Roman', Times, serif;

    background-image: url(../img/Startsida-Footer.jpg);
    background-position: center;
    background-size: cover;
}



/* Media queries */



@media (max-width: 600px) {



    /* Navbar Mobil - Mobil */



.logga {
   width:  18vh;
   height: 18vh;
   margin-right: 45px;
}

.navbar {
    margin-top: 30px;
}



/* Main Content - Mobil */



#sections {
    display: none;
}

#MobilSektioner {
    display: grid;
    grid-template-areas:
    "sek2"
    "sek3"
    "sek4"
    "sek5"
    "sek6"
    "sek7"
    "sek8"
    "sek9";
}

#sektion2mobil {
    grid-area: sek2;

    background-image: url(../img/ShoppaBild3.jpg);
    background-position: center;
    background-size: cover;
    
    height: 200px;
    width: 320px;
    margin-left: 33px;
    margin-top: 40px;

    border: 1px solid #fff;
}

#sektion4mobil {
    grid-area: sek4;

    height: 200px;
    width: 320px;
    margin-left: 33px;
    margin-top: 40px;

    border: 1px solid #fff;

    background-image: url(../img/ShoppaBild2.jpg);
    background-position: center;
    background-size: cover;
}

#sektion6mobil {
    grid-area: sek6;

    height: 200px;
    width: 320px;
    margin-left: 33px;
    margin-top: 40px;

    border: 1px solid #fff;

    background-image: url(../img/ShoppaBild4.jpg);
    background-position: center;
    background-size: cover;

}

#sektion8mobil {
    grid-area: sek8;

    height: 200px;
    width: 320px;
    margin-left: 33px;
    margin-top: 40px;
    margin-bottom: 30px;

    border: 1px solid #fff;

    background-image: url(../img/Rolex.jpg);
    background-position: center;
    background-size: cover;

}

#sektion3mobil {
    grid-area: sek3;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

#sektion5mobil {
    grid-area: sek5;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

#sektion7mobil {
    grid-area: sek7;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

#sektion9mobil {
    grid-area: sek9;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

}

@media (min-width: 1000px) {

}

