


/* general - dator*/



* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(10deg, rgb(62, 62, 62), #1e1e1e);
}

.container {
    background-image: url(../img/Startsida\ -\ Klocka.jpg);
    background-size: cover;
    background-position: center;
}



/* navbar - dator */



header {
    display: flex;
    justify-content: space-between;
}

.logga {
    width: 15vh;
    height: 15vh;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
}

.logga {
    width: 15rem;
    height: 15rem;
}

.navbar-item {
    margin: 0 10px;
}

div ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}



/* main content - dator */



h1 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    line-height: 65px;
}

a {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 65px;
}

.underContainer1 {
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #030202;
}

span {
    color:rgb(26, 160, 244)
}



/* footer - dator */



.footer {
    background-image: url(../img/Startsida-Footer.jpg);
    background-size: cover;
    background-position: center;
}

h2 {
    display:flex;
    justify-content: center;
    font-size: 50px;
    color: #d2d2d2;
    font-weight:bold;
    padding: 50px; 
    font-family:'Times New Roman', Times, serif;
}



/* Media queries */



@media (max-width: 600px) {



    /*  general  mobil */



    body {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto; 
      }

      .container {
        background-image: url(../img/Rolex.jpg);
        background-size: cover;
        background-position: center;
    }



    /* navbar mobil */

      .logga {
        height: 20vh;
        width: 20vh;
        margin-right: 45px;
      }

      .navbar {
        font-size: 3vh;
      }



      /* main content mobil */



    h1 {
        color: #0e0d0d;
    }

    a {
        color: black;
    }

    .underContainer1 {
        background-color: #f1eeee;
    }


    /* footer mobil */



    .footer {
        background-image: url(../img/ShoppaBild1.jpg);
        background-size: cover;
        background-position: center;
    }

    h2 {
        color: black;
    }

  }
